name: Deploy App to EC2 SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy on EC2 using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          timeout: 60s
          command_timeout: 20m
          script_stop: true
          debug: true
          script: |
            echo "Connected to EC2"

            cd /home/ubuntu || exit 1

            docker stop backend-1212 || true
            docker rm backend-1212 || true

            rm -rf backend-1212
            mkdir backend-1212
            cd backend-1212

            git clone https://github.com/${{ github.repository }} .

            docker compose down || true
            docker compose up -d --build
